body {
    overflow: hidden;
}

.cad-adc {
    width: 100vw;
    height: 100vh;
    background-color: var(--black2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cad-adc-modal {
    width: 50vw;
    height: 90vh;
    background: var(--gray-bg);
    border: 30px solid #fff;
    border-image: url(../img/icon/border-frame.png) 50 stretch;
}

.cad-adc-sect {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.cad-adc-img {
    width: 250px;
}

.cad-adc-text {
    width: 70%;
    text-align: center;
}

.cad-img-sect {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.cad-img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cad-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--light-gray);
    object-fit: cover;
}

.cad-img-btn {
    height: min-content;
    background: none;
    border: none;
}

select.select-adc-genero {
    background-color: var(--gray-bg);
    border: none;
    border-bottom: 3px solid var(--white);
    padding: 5px 15px;
    font-size: 20px;
}

@keyframes dreamsAnimation {
    0% {
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: scale(1) translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}