.edit-wrapper {
    background-color: var(--gray-bg);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
}

.edit-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 35px 70px;
    border-radius: 25px;
    width: 80%;
    background-color: var(--black2);
}

.edit-header {
    display: flex;
    justify-content: center;
}

.edit-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.edit-sect {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.edit-aside {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}



.edit-prof-img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 100%;
}

.edit-text {
    color: var(--light-gray);
}

.edit-subtitle {
    color: var(--light-gray);
    width: 100%;
}

.edit-prof-bg {
    width: 350px;
}