.edit-wrapper {
    background-color: var(--gray-bg);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
}

.edit-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    border-radius: 25px;
    width: 80%;
    background-color: var(--black2);
}

.edit-header {
    display: flex;
    justify-content: center;
}