* {
    transition: all .2s ease-in-out;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--gray-bg);
}

body::-webkit-scrollbar-thumb {
    background: #888;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.login-made {
    /* width: 100%; */

}

.feed-wrapper {
    min-height: 100vh;
}

/* .side-opt:after {
    content: '';
    width: calc(100% - 20px);
    transform: scaleX(0); 
    background-color: var(--dreams);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.side-opt:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
} */

.feed-content {
    min-height: 100vh;
    margin-left: 75px;
    background-color: var(--gray-bg);
}

.greetings {
    background-color: var(--gray-bg);
    width: 100%;
    padding: 25px 0 0 0;
    text-align: center;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.feed-divider {
    margin-left: 125px;
}

.feed {
    padding: 15vh 50px 50px 75px;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.feed-no-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
}

.feed-no-posts img {
    width: 350px;
}
