.feed-wrapper {
    min-height: 100vh;
}

.sidebar {
    height: 100vh;
    width: min-content;
    background-color: var(--black2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding: 50px 35px;
    border-radius: 0 25% 25% 0;
    position: fixed;
    left: 0;
    z-index: 1;
}

.side-up, .side-down {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-down {

}

.side-opt {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: 'Lexend';
    color: var(--white);
}

.side-opt b {
    display: none;
    /* transition: all .25s ease-in-out; */
}

.sidebar:hover .side-opt b {
    display: block;
}

/* .side-opt:after {
    content: '';
    width: calc(100% - 20px);
    transform: scaleX(0); 
    background-color: var(--dreams);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.side-opt:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
} */

.feed-content {
    margin-left: 75px;
    padding-left: 25px;
    background-color: var(--gray-bg);
}

.greetings {
    width: 100%;
    padding: 25px;
    text-align: center;
}

.feed {
    padding: 25px 50px 50px 25px;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.feed-post {
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 15px;
    transition: all .2s ease-in-out;
}

.feed-post:hover {
    transform: scale(1.2);
    cursor: pointer;
}