@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --black2: #020204;
    --gray-bg: #0F0F0F;
    --light-gray: #525252;
    --grimm1: #6D1930;
    --grimm2: #EF6069;
    --crystal: #E9AFE9;
    --dreams: #BF78CE;
    --lifeblood: #69E2EE;
    --godmaster: #DDC890;
    
    --font: 'Poppins';
}

.grimm1 {
    color: var(--grimm1);
}

.grimm2 {
    color: var(--grimm2);
}

.crystal {
    color: var(--crystal);
}

.dreams {
    color: var(--dreams);
}

.lifeblood {
    color: var(--lifeblood);
}

.godmaster {
    color: var(--godmaster);
}

.bg-grimm1 {
    background-color: var(--grimm1);
}

.bg-grimm2 {
    background-color: var(--grimm2);
}

.bg-crystal {
    background-color: var(--crystal);
}

.bg-dreams {
    background-color: var(--dreams);
}

.bg-lifeblood {
    background-color: var(--lifeblood);
}

.bg-godmaster {
    background-color: var(--godmaster);
}

.title {
    color: var(--white);
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 30px;
}

.subtitle {
    color: var(--white);
    font-size: 36px;
    font-family: 'Poppins';
    font-weight: bold;
}

.text {
    color: var(--white);
    font-family: 'Poppins';
    font-weight: regular;
}

.big-text {
    font-size: 24px;
    color: var(--white);
    font-family: 'Poppins';
    font-weight: regular;
}

.btn {
    border: 2px solid var(--black);
    border-radius: 15px;
    background-color: var(--white);
    color: var(--black);
    font-family: 'Poppins';
    font-size: 20px;
    padding: 10px 100px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    width: min-content;
    white-space: nowrap;
    margin: 0 auto;
}

.btn:hover{
    transform: scale(1.1);
    filter: brightness(0.75);
}

.small-btn {
    font-size: 16px;
    padding: 10px 50px;
}

.ipt-wrapper {
    display: flex;
    align-items: center;
}

.ipt {
    background: none;
    border: none;
    border-bottom: 3px solid #FFF;
    height: 40px;
    width: 100%;
    color: #FFF;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    transition: all .25s ease-in-out;
}

.ipt::placeholder {
    color: #5A5A5A;
}

.ipt:focus {
    outline: none;
    border-bottom: 3px solid var(--lifeblood);
}

.reverse {
    flex-direction: row-reverse;
}

.hidden {
    display: none;
}

.aparecer {
    display: flex;
}

.rotate {
    animation: 1s rotation;
}

.blur {
    backdrop-filter: blur(8px);
}

.swal2-popup {
    font-family: 'Poppins';
}

@keyframes rotation {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}