@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --black2: #020204;
    --gray-bg: #0F0F0F;
    --light-gray: #525252;
    --grimm1: #6D1930;
    --grimm2: #EF6069;
    --crystal: #E9AFE9;
    --dreams: #BF78CE;
    --lifeblood: #69E2EE;
    --godmaster: #DDC890;

    --font: 'Poppins';
}

.grimm1 {
    color: var(--grimm1);
}

.grimm2 {
    color: var(--grimm2);
}

.crystal {
    color: var(--crystal);
}

.dreams {
    color: var(--dreams);
}

.lifeblood {
    color: var(--lifeblood);
}

.godmaster {
    color: var(--godmaster);
}

.bg-grimm1 {
    background-color: var(--grimm1);
}

.bg-grimm2 {
    background-color: var(--grimm2);
}

.bg-crystal {
    background-color: var(--crystal);
}

.bg-dreams {
    background-color: var(--dreams);
}

.bg-lifeblood {
    background-color: var(--lifeblood);
}

.bg-godmaster {
    background-color: var(--godmaster);
}

.title {
    color: var(--white);
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 30px;
}

.subtitle {
    color: var(--white);
    font-size: 36px;
    font-family: 'Poppins';
    font-weight: bold;
}

.text {
    color: var(--white);
    font-family: 'Poppins';
    font-weight: regular;
}

.big-text {
    font-size: 24px;
    color: var(--white);
    font-family: 'Poppins';
    font-weight: regular;
}

.btn {
    border: 2px solid var(--black);
    border-radius: 15px;
    background-color: var(--white);
    color: var(--black);
    font-family: 'Poppins';
    font-size: 20px;
    padding: 10px 100px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    width: min-content;
    white-space: nowrap;
    margin: 0 auto;
}

.btn:hover {
    transform: scale(1.1);
    filter: brightness(0.75);
}

.small-btn {
    font-size: 16px;
    padding: 10px 50px;
}

.dark-btn {
    background-color: var(--black2);
    color: var(--dreams);
    border: 1px solid var(--dreams);
}

.ipt-wrapper {
    display: flex;
    align-items: center;
}

.ipt {
    background: none;
    border: none;
    border-bottom: 3px solid #FFF;
    height: 40px;
    width: 100%;
    color: #FFF;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    transition: all .25s ease-in-out;
}

.ipt::placeholder {
    color: #5A5A5A;
}

.ipt:focus {
    outline: none;
    border-bottom: 3px solid var(--lifeblood);
}

.divider {
    width: 80%;
    height: 1px;
    border: none;
    /* margin: 0 auto; */
    background-color: var(--light-gray);
    margin: 10px;
}

.seta-voltar {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.seta-voltar:hover {
    filter: invert(0%) sepia(94%) saturate(26%) hue-rotate(21deg) brightness(99%) contrast(105%);
}

.seta-voltar img {
    width: 35px;
    height: 35px;
}

.seta-float {
    position: absolute;
    top: 25px;
    left: 25px;
}

.btn-voltar-float {
    border: none;
    background: none;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 50px;
    cursor: pointer;
    font-size: 40px;
}

.btn-voltar-float a {
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
}

.btn-voltar-float a:hover {
    color: #EF6069;
}

.sidebar {
    height: 100vh;
    width: 100px;
    background-color: var(--black2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 30px;
    border-radius: 0 25% 25% 0;
    position: fixed;
    left: 0;
    z-index: 2;
    transition: all .3s ease-in-out;
}

.sidebar:hover {
    width: 200px;
}

.side-up,
.side-down {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.side-down {}

.side-opt {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: 'Lexend';
    color: var(--white);
    cursor: pointer;
}

.side-opt b {
    transform: scaleY(0);
    transition: all .1s ease-in-out;
}

.sidebar:hover .side-opt b {
    transform: scaleY(1);
}

.side-opt:hover {
    transform: scale(1.1);
}

.side-opt.logout:hover {
    color: var(--grimm2);
}

.side-opt-img {
    width: 35px;
    height: 35px;
}

.post {
    width: 300px;
    height: 300px;
    /* border: 2px solid white; */
    border-radius: 15px;
    transition: all .2s ease-in-out;
    object-fit: cover;
    object-position: left;
    cursor: pointer;
}

.post:hover {
    /* transform: scale(1.2); */
    filter: brightness(40%);
}

.post-modal {
    width: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: var(--gray-bg);
    border-radius: 25px;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .25s ease-in-out;
    opacity: 0;
    display: none;
    max-height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: var(--gray-bg);
    padding: 15px 0;
}

.seta-modal {
    position: absolute;
    top: 25px;
    left: 25px;
}

.modal-prof-info {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.modal-prof-info:hover p {
    transition: all .25s ease-in-out;
    color: #69E2EE;
}

.modal-prof-pic {
    width: 40px;
    height: 40px; 
    border-radius: 100%;
    background-color: var(--light-gray);
}

.modal-content {
    /* padding: 50px 0 0 0; */
    width: 100%;
    display: flex;
    gap: 50px;
}

.modal-aside {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.modal-post {
    height: 70vh;
    width: 70vh;
    object-fit: cover;   
}

.modal-date {
    /* width: min-content; */
    margin: 0 auto;
}

.modal-footer {
    display: flex;
    gap: 50px;
}

.no-posts {
    max-height: 250px;
}

.reverse {
    flex-direction: row-reverse;
}

.center {
    align-items: center;
}

.text-wrap {
    width: fit-content;
    word-wrap: break-word;
    /* word-break: break-all; */
}

.hidden {
    display: none;
}

.aparecer {
    display: flex;
}

.sumir {
    display: none;
}

.oculto {
    transition: all .4s ease-in-out;
    opacity: 0;
}

.amostra {
    transition: all .4s ease-in-out;
    opacity: 1;
}

.rotate {
    animation: 1s rotation;
}

.blur {
    backdrop-filter: blur(8px);
}

.swal2-popup {
    font-family: 'Poppins';
}

.swal2-actions .swal2-confirm {
    background-color: var(--godmaster);
    color: var(--black);
    font-weight: 800;
    transition: all .1s ease-in-out;
}

.swal2-actions .swal2-confirm:focus {
    box-shadow: none;
    outline: 2px solid var(--godmaster);
    outline-offset: 2px;
}

.swal2-actions .swal2-confirm:hover {
    outline: 2px solid var(--godmaster);
    outline-offset: 5px;
}

@keyframes rotation {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}