body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--gray-bg);
}

body::-webkit-scrollbar-thumb {
    background: #888;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.wrapper-index {
    overflow: hidden;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    position: fixed;
    top: 0;
    z-index: 5;
    transition: 0.3s ease-in-out;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo-text {
    height: 50px;
}

.nav-ul {
    list-style: none;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease-in-out;
}

.nav-a {
    text-decoration: none;
    color: var(--white);
    position: relative;
    display: inline-block;
    padding: 10px;
    transition: all .25s ease-in-out;
}

.nav-a:hover {
    transform: scale(1.2);
}

.nav-btn-tema,
.nav-btn-cor {
    background: none;
    border: none;
    cursor: pointer;
}

.nav-btn-tema img {
    width: 35px;
}

.nav-li-cores {
    display: none;
}

.nav-sel-cor {
    height: 25px;
    width: 25px;
    border-radius: 100%;
}

.nav-sel-cor:hover,
.nav-btn-tema:hover {
    transition: transform .2s ease-in-out;
    transform: scale(1.25);
}

.header {
    width: 100%;
    max-height: 90vh;
    background-color: var(--gray-bg);
}

.embed-wrapper {
    width: 100%;
    position: relative;
}

.embed-img {
    width: 100%;
    object-fit: cover;
    object-position: left;
    position: absolute;
    top: -8vh;
    z-index: 2;
}

.embed-front {
    position: absolute;
    width: 100%;
    height: 85%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.embed-logo {
    width: 55vw;
}

.embed-text {
    font-size: 30px;
    width: fit-content;
    text-align: center;
}

.embed-iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: fit-content;
    pointer-events: none;
    background-color: var(--black);
    margin-top: -12vh;
    position: relative;
    z-index: 0;
    filter: brightness(0.7);
}

.main {
    position: relative;
    width: 100%;
    background-color: var(--gray-bg);
    z-index: 1;
    box-shadow: inset 0 15px 10px 0 rgba(2, 2, 3, 0.8);
}

.hk {
    padding: 65px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.hk-cards {
    cursor: pointer;
}

.hk-img {
    position: relative;
    transition: all .4s ease-in-out;
}

.figure-hk:not(.reverse) .hk-img:nth-child(1) {
    position: absolute;
    z-index: 1;
}

.figure-hk:not(.reverse) .hk-img:nth-child(2) {
    z-index: 0;
    transform: translate(25px, 25px);
}

.figure-hk.reverse .hk-img:nth-child(1) {
    position: absolute;
    z-index: 1;
    transform: translate(-25px, -25px);
}

.figure-hk.reverse .hk-img:nth-child(2) {
    z-index: 0;
    transform: none;
}

.figure-hk.reverse .hk-cards:hover .hk-img:nth-child(1) {
    transform: translate(-55px, -25px);
}

.figure-hk:not(.reverse) .hk-cards:hover .hk-img:nth-child(1) {
    transform: translate(-35px);
}

.figure-hk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 75px;
}

.hk-text {
    width: 45%;
}

.hk-ul {
    margin: 0 0 0 50px;
}

.community {
    transform: skewY(-8deg) translateY(15vh);
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    padding: 0 0 15px 0;
}

.article-community {
    transform: skewY(8deg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figure-community {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px 50px 0 50px;
}

.h1-community {
    transform: translateY(75px);
}

.p-community {
    width: 50%;
}

#samples {
    transition: all 8s ease-in-out;
    transform: rotate(-8deg);
    display: flex;
    gap: 10px;
    width: 100vw;
}

.hp {
    height: 125vh;
    background-image: url('../img/bg/bg-hp2.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;

}

.hp-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 15px;
}

.hp-img {
    width: 100%;
}

.hp-text {
    text-align: center;
}

.footer {
    background-color: var(--gray-bg);
    width: 100%;
    padding: 25px 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-title {
    margin: 0 auto;
}

.footer-about {
    display: flex;
    gap: 50px;
    padding: 20px;
}

.footer-about-img {
    width: 300px;
    border-radius: 100%;
}

.footer-about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 40%;
}

.footer-about-disertation {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 35px;
    color: var(--white);
    width: 60%;
}

.footer .footer-about p {
    color: var(--white);
    font-size: 20px;
}

.footer-hr {
    width: 70%;
    height: 3px;
    background-color: var(--light-gray);
    margin: 0 auto;
    border: none;
}

.section-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.rules-footer {
    display: flex;
    gap: 15px;
}

.socials-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.socials-a {
    display: flex;
    width: 50px;
    height: 50px;
    border: 2px solid var(--light-gray);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.socials-a:hover {
    transform: scale(1.1);
    filter: brightness(1.75);
}

.socials-img {
    width: min-content;
    height: min-content;
}

.footer p {
    font-family: 'Lexend';
    color: var(--light-gray);
}

.post {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: all .25s ease-in-out;
}

.post:hover {
    filter: brightness(40%);
}

@keyframes cardsAnimation {
    0% {
        z-index: 1;
        transition: all .5s ease-in-out;
    }

    10% {
        transform: translate(-300px, -300px) rotate(-15deg)
    }

    60% {
        z-index: 0;
    }

    100% {
        transform: none;
        transition: all .25s ease-in-out
    }
}

@keyframes dreamsAnimation {
    0% {
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: scale(1) translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}