.header {
    width: 100%;
    max-height: 90vh;
    background-color: var(--black);
}

.embed-wrapper {
    width: 100%;
    position: relative;
}

.embed-img {
    width: 100%;
    object-fit: cover;
    object-position: left;
    position: fixed;
    top: -10vh;
    z-index: 2;
}

.embed-front {
    position: absolute;
    width: 100%;
    height: 85%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.embed-logo {
    width: 55vw;
}

.embed-text {
    font-size: 30px;
    width: fit-content;
    text-align: center;
}

.embed-iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: fit-content;
    pointer-events: none;
    background-color: var(--black);
    margin-top: -14vh;
    position: relative;
    z-index: 0;
    filter: brightness(0.7);
}

.main {
    position: relative; 
    width: 100%;
    background-color: var(--gray-bg);
    z-index: 1;
}

.hk {
    padding: 50px;
}

.figure-hk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.hk-ul {
    margin: 0 0 0 50px;
}

.community {
    transform: skewY(-8deg) translateY(15vh);
    background-color: var(--black);
    /* height: 85vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.article-community {
    transform: skewY(8deg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figure-community {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.h1-community {
    transform: translateY(75px);
}

.p-community {
    width: 50%;
}

.examples {
    /* overflow-x: scroll; */
    width: 100%;
}

.hp {
    /* transform: translateY(-15vh); */
    height: 125vh;
    background-image: url('../img/bg/bg-hp2.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hp-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 15px;
}

.hp-img {
    width: 100%;
}

.hp-text{
    text-align: center;
}

.footer {
    background-color: var(--gray-bg);
    width: 100%;
    padding: 25px 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-hr {
    width: 70%;
    height: 3px;
    background-color: var(--light-gray);
    margin: 0 auto;
    border: none;
}

.section-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.rules-footer {
    display: flex;
    gap: 15px;
}

.socials-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.socials-a{
    display: flex;
    width: 50px;
    height: 50px;
    border: 2px solid var(--light-gray);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials-img {
    width: min-content;
    height: min-content;
}

.footer p {
    font-family: 'Lexend';
    color: var(--light-gray);
}