body {
    background-color: #020204;
}

.wrapper-login {
    overflow-x: hidden;
    background-color: #020204;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.login-section, .cadastrar-section {
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 75px;
    transition: all .5s ease-in-out;
}

.login-section {
    background-image: url('../img/bg/bg-login.png');
    background-position: left;
    justify-content: end;
}

.cadastrar-section {
    background-image: url('../img/bg/bg-cadastro.png');
    background-position: right;
    opacity: 0;
    width: 0;
    height: 0;
    min-height: 0;
    padding: 0;
}

.form-aside {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 35vw;
}

.form-aside .text {
    text-align: center;
}

.form-a {
    text-decoration: none;
    transition: all .25s ease-in-out;
    cursor: pointer;
}

.form-a.lifeblood:hover {
    color: var(--grimm2);
    text-decoration: underline;
}

.form-a.grimm2:hover {
    color: var(--lifeblood);
    text-decoration: underline;
}