.new-post-wrapper {
    background-color: #000;
    padding: 50px;
    width: 100%;
    min-height: 100vh;
}

.np-main {
    background-color: var(--gray-bg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    border: 30px solid #fff;
    border-image: url(../img/icon/border-frame.png) 50 stretch;
    min-height: 80vh;
}

.np-sect {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10%;
}

.np-aside {
    width: 45%;
    gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.np-header {
    display: flex;
    align-items: start;
    gap: 100px;
    padding: 0 0 50px 0;
}

.np-header .title {
    align-self: center;
}

.ipt-file {

}

.ipt-file-label {
   display: flex;
   width: min-content;
   justify-content: center;
   transition: all .25s ease-in-out;
}

.ipt-file-label:hover {
    transform: scale(1.25);
}

.ipt-file-a {
    text-decoration: underline;
    cursor: pointer;
}

.ipt-file-img {
    max-width: 500px;
    max-height: 350px;
    object-fit: contain;
}

.ipt-file-name, .ipt-file-a {
    /* width: 100%; */
    white-space: nowrap;
    text-align: center;
}