.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

canvas {
    width: 400px !important;
    height: 250px !important;
}

.profile-wrapper {
    background-color: var(--gray-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12vh;
    padding-bottom: 2.5%;
    position: relative;
    z-index: 0;
    transition: all .25s ease-in-out;
    min-height: 100vh;
}

.prof-header {
    background-image: url('../img/bg/image\ 53.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: end;
    padding: 15px 10%;
}

.prof-info {
    display: flex;
    align-items: center;
    gap: 30px;
}

.prof-pic {
    background-color: var(--light-gray);
    height: 150px;
    width: 150px;
    border-radius: 100%;
    display: block;
    object-fit: cover;
}

.prof-pic img {
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.prof-name {
    background-color: var(--gray-bg);
    color: var(--white);
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
}

.prof-main {
    width: 80%;
    background-color: var(--black2);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prof-opts {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-around;
    padding: 30px 20px 5px;
}

.prof-opts-a {
    transition: all ease-in-out .2s;
    font-family: 'Lexend';
    cursor: pointer;
    font-size: 20px;
}

.prof-opts-a:hover {
    color: var(--lifeblood);
}

.prof-main-wrapper {
    width: 100%;
    transition: all .4s ease-in-out;
}

.prof-posts,
.prof-saved {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.prof-saved {
    display: none;
}

.prof-advanced {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 25px;
}

.testesla {
    width: 100%;
    height: 250px;
}

.edit-btn {
    align-self: self-end;
    position: absolute;
    transform: translate(-30px, 30px);
    transition: all .25s ease-in-out;
}

.edit-btn:hover {
    transform: translate(-30px, 30px) scale(1.25);
}

.edit-btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.no-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-posts img {
    width: 200px;
}

.advanced-info {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#no_graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#grafico1 {
    display: none;
}

#graficos {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.advanced-kpis {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.kpi-card {
    width: 225px;
    height: 150px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    background-color: var(--gray-bg);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.kpi-card img {
    height: 100px;
}

#kpi_count_img {
    width: 100px;
}