.sidebar {
    height: 100vh;
    width: 100px;
    background-color: var(--black2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 30px;
    border-radius: 0 25% 25% 0;
    position: fixed;
    left: 0;
    z-index: 2;
    transition: all .3s ease-in-out;
}

.sidebar:hover {
    width: 200px;
}

.side-up,
.side-down {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.side-opt {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: 'Lexend';
    color: var(--white);
    cursor: pointer;
}

.side-opt b {
    transform: scaleY(0);
    transition: all .1s ease-in-out;
}

.sidebar:hover .side-opt b {
    transform: scaleY(1);
}

.side-opt:hover {
    transform: scale(1.1);
}

.side-opt.logout:hover {
    color: var(--grimm2);
}

.side-opt-img {
    width: 35px;
    height: 35px;
}

.post {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    transition: all .2s ease-in-out;
    object-fit: cover;
    object-position: left;
    cursor: pointer;
}

.post:hover {
    filter: brightness(40%);
}

.post-modal {
    width: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: var(--gray-bg);
    border-radius: 25px;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .25s ease-in-out;
    opacity: 0;
    display: none;
    max-height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: var(--gray-bg);
    padding: 15px 0;
}

.seta-modal {
    position: absolute;
    top: 25px;
    left: 25px;
}

.modal-prof-info {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    cursor: pointer;
}

.modal-prof-info:hover p {
    transition: all .25s ease-in-out;
    color: #69E2EE;
}

.modal-prof-pic {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--light-gray);
}

.modal-content {
    width: 100%;
    display: flex;
    gap: 50px;
}

.modal-aside {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.modal-post {
    height: 70vh;
    width: 70vh;
    object-fit: cover;
}

.modal-date {
    margin: 0 auto;
}

.modal-footer {
    display: flex;
    gap: 50px;
}